:root{
    --background:#1e1c21;
    --pink:#fc1e8b;
    --purple: #7278c3;
    --blue:#00a8dc;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color:var(--background);
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: white;
}
.gradient{
    background: rgba(252,30,137,1);
    background: -moz-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,30,137,1)), color-stop(100%, rgba(114,119,195,1)));
    background: -webkit-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -o-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: linear-gradient(to right, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1e89', endColorstr='#7277c3', GradientType=1 );
}
a{
    color: white;

}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
header .container{
display: flex;
padding: 20px 0px;
justify-content: space-between;
}
header ul{
    display: flex;
list-style-type: none;
justify-content: space-evenly;
flex-flow: wrap;
}
header nav{
    width: 60%;
    text-transform: uppercase; 
}
header img{
    margin-right: 100px;
}
.partidas{
    width:100%;
    text-align: center;
    min-height: 100px;
    background: rgba(66,44,90,1);
    background: -moz-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,44,90,1)), color-stop(100%, rgba(16,15,17,1)));
    background: -webkit-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -o-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -ms-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: linear-gradient(to bottom, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422c5a', endColorstr='#100f11', GradientType=0 );
}
.partidas .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: wrap;
    
}
.partida{
    padding: 0 0 10px 0;
}
.partida img{
    width: 40px;
    padding: 0px 10px;

    
}
.partida h2{
    font-size: 14px;
    text-align: start;
    padding: 10px 0px;
}
.partida div{
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
.red{
    color: red;
}
.right_padding{
    padding-right: 10px;
}
.banner{
    width: 100%;
    height: 450px;
    background-image: url("../img/meta_mundo.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ligas{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0  ;

}
.ligas h3{  
    font-size: 110px;
    line-height: 20px;
    margin-bottom: 40px;
}
.ligas h4{
    font-size: 55px;
    margin-bottom: 10px;
}
.ligas img{
    height: 143px;
}
.sobre_fundo{
    background-image: url("../img/Teams/T6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 37.5em;
    clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 7%);
   
}
.sobre_fundo_filtro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color:rgba(114, 120, 195, 0.5)

}

.sobre{
    position: relative;
}
.sobre img{
    position: absolute; /*Imagem trava em uma só posição*/
    z-index: 99;
    top: -20px;
    left: 100px;
    width: 100%;
    max-width:35%;
}
.texto_sobre{
    width: 40%;
    margin-right: 100px;
    text-align: right;
    text-shadow: 0px 3px 3px black;
}
.texto_sobre h2{
    margin-bottom: 2em;
}
.content{
    display: flex;
    margin-top:180px;
    justify-content: space-between;

}
.content section{
    width: 70%;
}
.content article div{ 
    box-shadow: 0px 3px 10px black;
}
.card{
    width: 100%;
    box-shadow: 0px 3px 10px black;
    display: flex;
    justify-content: flex-start;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,28,33,1) 30%, rgba(30,28,33,1) 100%);
    margin-bottom: 2em;
}
.card img{
    width: 220px;
    height:  220px;
    object-fit: cover;
}
.card div{
    padding: 2em;
}
.card :hover{
    background-color: var(--blue);
    color: var(--background);
    transition-duration: 0.8s;/*Tempo de duração da transição*/
    transition-timing-function: ease-in-out ;
}

.content h3{
    text-transform: uppercase;
    padding: 2em;
    font-size: 1.8em;
}
article{
    width: 25%; 
}
.resultados_box{
    box-shadow: 0px 3px 10px black;
    padding: 3em ;
}
.resultado{
    text-align: center;
    margin-top: 1.5em;
}
.resultado div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.resultado img{
    width: 30px;
}
.resultado p{
    font-size: 2em;
    margin: 0.3em 0em;
}
hr{
    width: 100%;
    border-color: var(--background);
    
}
footer{
    background-color: black;
    box-shadow: 0px -6px 10px black;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,28,33,1) 30%, rgba(30,28,33,1) 100%);
    min-height: 250px;
    padding: 3em 0;
   
    
}
footer nav h3{
    font-size: 1.6em;
    text-decoration: none;
    margin-bottom: 1em;
    color:#646464
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer nav ul{
    padding:1em 2.5em;
    list-style-type: none;
}
footer nav li{
    margin-bottom: 0.4em;
}
footer nav a:hover{
    border-bottom: solid 1px var(--purple);
}
footer form{
    display: flex;
    flex-direction: column;
}
footer form label{
    font-size: 2em;
    font-weight: bold;
    color:#646464;
    margin-bottom: 0.3em;
}
footer form input{
    width: 20em;
    height: 2em;
    margin-right: -5px;
    padding: 1px
}
.btn{
    color:white;
    border: none;
    text-decoration: none;
    padding: 0.65em 2em;
    cursor: pointer;
}
/* fim form&button */
.sociais{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
}
.sociais i{
    background: linear-gradient(to bottom, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 3em;

}
/* FIM logos */
footer p{
    text-align: center;
    color: #6f6f6f;
}
/* Início pagina cadastro */
.banner_cad{
    width: 100%;
    height: 320px;
    background-image: url(../img/img_corte_cad.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner_cad h1{
    font-size: 3.4em;
    text-transform: uppercase;

}
/* Fim Banner */
/* Inicio Form */
.form_cadastro{
    width: 100%;
    max-width: 400px; 
    margin: 10em auto;
    box-shadow: 5px 5px 10px var(--background), -2px -2px 19px var(--purple);
    border-radius: 5px;
    padding: 1.5;
}
.campo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.0em;
}
.campo{
    text-transform: uppercase;
}
.campo input[type="text"],
.campo input[type="password"],
.campo input[type= "email"],
.campo input[type= "date"],
select{
    width: 60%;
    background-color: var(--background);
    border: none;
    outline: none;
    border-bottom: solid 1px var(--purple);
    color: white;
}
.campo input:focus{
    background-color: #2f2c33;
}
.campo fieldset{
    border: none;
}
.campo fieldset label{
    margin:2em 1em 2em 0;      ;
}
.termos{
    justify-content: unset;
    align-items: center;
}
.termos input{
    margin-right: 1em;
}
 .form_cadastro .campo:nth-child(10) button{ /* centralizar botão*/
    margin: auto;
}